.form-background {
    width: 60%;
}

.inner-box {
    background-color: white;
    min-height: 40vh;
    max-height: 90vh;
}

.image-block {
    height: 60%;
    width: 60%;
}

.fill {
    object-fit: cover;
}

.heading {
    font-size: large;
}

.slds-text-heading_large {
    font-size: 35px;
}

.scrollable-area {
    min-height: 30vh;
    max-height: 80vh;
}