.survey-info-form {
  max-width: 600px;
}

.logo-container {
  flex-grow: 1;
}

.image-box {
  height: 100%;
  position: relative;
}

.image-box__image {
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  display: block;
  position: absolute;
}
