.data-table {
  margin-bottom: 13px;
}

.text{
  margin-top: 13px;
  margin-bottom: 13px;
}

.resultIcon {
  --sds-c-icon-color-foreground-default: white;
  --sds-c-icon-color-background:  #b9b4ff;
}

.emailIcon {
  --sds-c-icon-color-foreground-default: white;
  --sds-c-icon-color-background:  #409fff;
}